<ion-header>
  <ion-navbar text-center color="primary">
    <ion-title>
      CityBus
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only  (click)="gotProfile()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
    <div class="container">

        <div text-center class="app-name">
            <h2>HELLO! Welcome to City to city bus online bookings</h2>
        </div>

      
        <form  [formGroup]="userForm"  class="form-holder" (ngSubmit)="submit()" novalidate>

            <ion-item class="items" [ngClass]="{'error-border':!userForm.get('fromCity').valid && userForm.get('fromCity').touched}">
                <ion-label>City From</ion-label>
                <ion-select formControlName="fromCity" >
                <ion-option *ngFor ="let townships of town; let i=index ">{{town[i]}}</ion-option>
                </ion-select>
              </ion-item>
              
               <ion-item no-line style="background-color:#ededed;" *ngIf="userForm.get('toCity').hasError('required') && userForm.get('toCity').touched" class="invalid">
               <p ion-text color="danger">City from is required!</p>
               </ion-item>
              
              <br>
              <ion-item class="items" [ngClass]="{'error-border':!userForm.get('toCity').valid && userForm.get('toCity').touched}">
                  <ion-label>City To</ion-label>
                  <ion-select formControlName="toCity" >
                  <ion-option *ngFor ="let townships of town; let i=index ">{{town[i]}}</ion-option>
                  </ion-select>
                </ion-item>
                
                 <ion-item no-line style="background-color:#ededed;" *ngIf="userForm.get('toCity').hasError('required') && userForm.get('toCity').touched" class="invalid">
                 <p ion-text color="danger">City to is required!</p>
                 </ion-item>
                 <br>
                 <ion-item class="items" [ngClass]="{'error-border':!userForm.get('Date').valid && userForm.get('Date').touched}">
                    <ion-label  floating >Date</ion-label>
                     <ion-datetime displayformat="DD/MM/YYYY" pickerformat="DD/MM/YYYY" min="2017-12-31" max="2020"  formControlName="Date"></ion-datetime>
                    </ion-item>
                    
                    <ion-item  no-line style="background-color:#ededed;" *ngIf="userForm.get('Date').hasError('required') && userForm.get('Date').touched" class="invalid">
                      <p ion-text color="danger"> Date field is required!</p>
                      </ion-item>

                      <br>

                      <ion-item  class="items" [ngClass]="{'error-border':!userForm.get('Time').valid && userForm.get('Time').touched}">
                          <ion-label floating >Time</ion-label>
                          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="Time"></ion-datetime>
                          </ion-item>
                          
                          <ion-item no-line style="background-color:#ededed;" *ngIf="userForm.get('Time').hasError('required') && userForm.get('Time').touched" class="invalid">
                          <p ion-text color="danger">Time field is required!</p>
                          </ion-item>
                        <br>

                        <ion-item  class="items" [ngClass]="{'error-border':!userForm.get('seatNum').valid && userForm.get('seatNum').touched}">
                          <ion-label  floating >Enter the number of seat</ion-label>
                          <ion-input type="number" formControlName="seatNum"></ion-input>
                          </ion-item>
                            
                          <ion-item  no-line style="background-color:#EEEEEE;" *ngIf="userForm.get('seatNum').hasError('required') && userForm.get('seatNum').touched" class="invalid">
                          <p ion-text color="danger">Number of seat is required!</p>
                          </ion-item>

                
                          <br>

                      
        </form>
          </div>   

  <ion-fab bottom center color="primary" (click)="SaveUserData()">
    <button ion-fab><ion-icon name="arrow-forward"></ion-icon></button>
</ion-fab>

</ion-content>
